

/* 內容區 */
.contentBlock {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 150px;
    box-sizing: border-box;
}

.filterBlock {
    flex: 0.2;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px;
    padding: 20px;
}

.pBlock {
    flex: 0.8;
    border-radius: 10px;
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
    box-sizing: content-box;
    display: flex;
    /* justify-content: center;
    align-items: center; */

}
.filterNothing {
    width: 100%;
    position: relative;
    margin-top: 40%;
    margin-bottom: 40%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-size: 36px;
    box-sizing: border-box;
}

.searchBlock {
    display: flex;
}

.searchBar {
    /* width: 70%; */
    flex: 0.9;
    border: 2px solid black;
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px ;
    border-right: none;
    padding-left: 5px;
}

.searchBar:focus {
    outline: none;
}

.searchBtn {
    flex: 0.1;
    border: 2px solid black;
    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px ;
}

/* 價格進度條 */
.price-range-container {
    width: 300px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .price-display {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .range-slider {
    position: relative;
    height: 5px;
    background-color: #ddd;
    border-radius: 5px;
  }
  
  .range-selected {
    position: absolute;
    height: 100%;
    background-color: rgb(69, 171, 128);
    border-radius: 5px;
  }
  
  .range-slider input {
    position: absolute;
    width: 100%;
    height: 5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
  }
  
  .range-slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(69, 171, 128);
    border: 2px solid rgb(69, 171, 128);
    pointer-events: auto;
    cursor: pointer;
  }
  
  .range-slider input::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(69, 171, 128);
    border: 2px solid rgb(69, 171, 128);
    pointer-events: auto;
    cursor: pointer;
  }

  .range-slider input::-webkit-slider-thumb:hover {
    border: 2px solid rgba(160, 244, 209, 0.7);
    box-sizing: content-box;

  }
  /* --- */
.priceFilter {
    display: flex;
    justify-content: space-between;
    margin: 10px, 0;
    align-items: center;
}

.priceFilter p {
    display: inline-flex;
}

.priceFilter input {
    width: 30%;
}


/* 篩選器 */
.filter input[type=range] {
    width: 100%;
}

.filter ul {
    margin: 0;
    padding-inline-start: 0;
}

.filter ul li {
    margin: 0;
    list-style-type: none;
}

.filterTitle {
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px;
}

.tagItem input {
    margin-right: 10px;
    transform: scale(1.4);
    transform-origin: left;
}

.tagItem span {
    user-select: none;
}


/* 熱銷商品商品卡 */
.bestsellerProduct {

}

.bestsellerProduct .pCard {
    /* border: 1px solid black;
    margin: 1.66%;
    padding: 10px;
    width: 30%;
    font-weight: 700;
    box-sizing: border-box;
    min-width: 200px;
    position: relative; */

    position: relative;
    /* 使子元素可以絕對定位 */
    /* width: 300px; */
    width: 30%;
    /* min-width: 200px; */
    padding: 10px;
    /* border: 1px solid #ccc; */
    font-weight: 700;
    margin: 1.66%;
    box-sizing: border-box;
    height: fit-content;
}

.bestsellerProduct .pImage {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    /* width: 180px;
    height: 180px; */
}

.bestsellerProduct .pImage img {
    box-sizing: border-box;
    object-fit: contain;
    /* max-width: 100%; */
}

.bestsellerProduct .pImage button {
    width: 3rem;
    height: 3rem;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bestsellerProduct .pImage button i {
    font-size: 1rem;
    color: red;
}

.bestsellerProduct .pCard p {
    margin: 10px 0;
}

.bestsellerProduct .pName {
    font-size: 20px;
}

.bestsellerProduct .pPrice {
    text-decoration: line-through;
    display: block;
}

.bestsellerProduct .pSalePrice {
    color: red;
    font-size: 20px;
}


.bestsellerProduct .pCard:hover .pFastInfo {
    display: block;
    -webkit-box-shadow: 0px 15px 14px 0px rgba(0, 0, 0, 0.40);
    box-shadow: 0px 18px 14px 4px rgba(0, 0, 0, 0.40);
}

.bestsellerProduct .pCard:hover {
    /* height: auto;
    background-color: rgb(255, 255, 255);  */
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.40);
    box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.40);
}

/* ----商品快速購買區---- */
.bestsellerProduct .pFastInfo {
    /* display: none;
    position: absolute;
    background-color: white;
    z-index: 1; */

    display: none;
    /* 預設隱藏 */
    position: absolute;
    /* 絕對定位 */
    top: 95%;
    /* 距離父容器底部 */
    left: 0;
    width: 100%;
    background-color: white;
    /* border: 1px solid #ccc; */
    border-top: none;
    z-index: 1;
    /* 確保在其他元素之上 */
    padding: 10px;
    box-sizing: border-box;

}

.bestsellerProduct .pSizes,
.bestsellerProduct .pNumberCtrl {
    display: flex;
}

.bestsellerProduct .pSizes {
    flex-wrap: wrap;
}

.bestsellerProduct .pSizeItem {
    background-color: lightgray;
    width: fit-content;
    height: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-top: 2px;
    cursor: pointer;
    border: 2px solid lightgray;
}

.bestsellerProduct .pSizeItem:hover {
    border: 2px solid gray;
}

.pSizeItem.selected {
    background-color: #878787;
    border: 2px solid #878787;
    color: white;

}

.bestsellerProduct .pHint {
    font-weight: 300;
    margin: 0;
}



.bestsellerProduct .pFastInfo,
.bestsellerProduct .pNumberCtrl {
    /* position: relative; */
    /* box-sizing: border-box; */
    max-width: 100%;
}

.bestsellerProduct .pNumberCtrl>input {
    width: 20%;
}


/* chrome 消除上下箭頭 */
/* input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

/* firfox 消除上下箭頭 */
/* input[type=number] {
    -moz-appearance: textfield;
}

input[type = number] {
    text-align: center;
}

.pNumberCtrl > button {
    width: 30px;
    height: 30px;
    
    cursor: pointer;
    border: none;
    padding: 5px;
    background-color: rgb(108, 218, 148);
    display: flex;
    justify-content: center;
    align-items: center;
}
.pNumberCtrl > button > i {
    font-size: 1rem;
    color: white;
} */

